<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <title>Layout</title>
</head>

<body>
    <div id="main">
        <div id="head">
            <ul>f
                <li><a href="#home">Trang chủ</a></li>
                <li><a href="#news">Tin tức</a></li>
                <li><a href="#contact">Danh bạ</a></li>
                <li><a href="#about">Về chúng tôi</a></li>
            </ul>
        </div>
        <div id="head-link">
        </div>
        <div id="left">
        </div>
        <div id="content">
        </div>
        <div id="right">
        </div>
        <div id="footer">
        </div>
    </div>
</body>

</html>